body {
    font-family : Tahoma;
    line-height : 30px;
    padding     : 15px;
}

.wrap {
    padding : 15px
}

.message {
    background-color : #FFE1E1;
    border-radius    : 5px;
    margin-top       : 15px;
    padding          : 15px;
}

.log {
    font-family : Consolas;
    font-size   : 11px;
    overflow    : auto;
}

h2 {
    margin : 0;
}