#frg .forget-password-wrap {
    border        : 1px solid #f2f2f2;
    border-radius : 5px;
    padding       : 30px;
    //
    h3 {
        font-size   : 18px;
        font-weight : 500;
    }
    .auth-bg-image {
        background-size : contain;
        background : url("/asset/img/signup.png") center center no-repeat;
    }
}
